.navbar-inverse{
	border-radius: 0;
}

.logo{
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	text-decoration: none;
	font-size: 2em;
	color: #fff;
	font-family: 'Kano';
	letter-spacing: 2px;
}

.logo:hover{
	text-decoration: none;
	color: #fff;
}

section{
	margin-bottom: 30px;
}

#map{
	width: 100%;
}

.time{
	font-size: 0.8em;
	color: #778899;
	text-align: right;
}

#next-bus{
	padding: 20px;
	-webkit-box-shadow: 4px 4px 22px -3px rgba(0,0,0,0.42);
	-moz-box-shadow: 4px 4px 22px -3px rgba(0,0,0,0.42);
	box-shadow: 4px 4px 22px -3px rgba(0,0,0,0.42);
}

#next-bus table{
	font-size: 1.5em;
	width: 100%;
}

td{
	width: 50%;
}

.heading{
	text-align: center;
}

.place-img{
	width: 100%;
}

.col-lg-3{
	padding: 0;
}

.places {
	position: relative;
	height: 80vh;
}

.footertext {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}

.footertext p {
	font-family: 'Nexa';
	font-size: 14px;
}

/* Fonts */

@font-face {
    font-family: 'Nexa';
    src: url(../fonts/NexaLight.otf);
}

@font-face {
    font-family: 'Kano';
    src: url(../fonts/Kano.otf);
}