body{
	background-image: url("../img/bg3.png");
}

.navbar-inverse{
	border-radius: 0;
	border:none;
}

.logo{
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	text-decoration: none;
	font-size: 2em;
	color: #fff;
	font-family: 'Kano';
	letter-spacing: 2px;
}

.logo:hover{
	text-decoration: none;
	color: #fff;
}

section{
	margin-bottom: 40px;
}

.container{
	padding-bottom: 20px;
}

#map-img{
	width: 100%;

	-webkit-box-shadow: 4px 4px 22px -3px rgba(0,0,0,0.42);
	-moz-box-shadow: 4px 4px 22px -3px rgba(0,0,0,0.42);
	box-shadow: 4px 4px 22px -3px rgba(0,0,0,0.42);
}

.time{
	font-size: 0.8em;
	color: #778899;
	text-align: right;
}

#next-bus{
	padding: 20px;
	-webkit-box-shadow: 4px 4px 22px -3px rgba(0,0,0,0.42);
	-moz-box-shadow: 4px 4px 22px -3px rgba(0,0,0,0.42);
	box-shadow: 4px 4px 22px -3px rgba(0,0,0,0.42);
	background-color: rgba(255,255,255,0.5);
}

#next-bus table{
	font-size: 1.5em;
	width: 100%;
}

td{
	width: 50%;
}

.heading{
	text-align: center;
}

.white{
	background-color: rgba(255,255,255,0.5);
	-webkit-box-shadow: 4px 4px 22px -3px rgba(0,0,0,0.42);
	-moz-box-shadow: 4px 4px 22px -3px rgba(0,0,0,0.42);
	box-shadow: 4px 4px 22px -3px rgba(0,0,0,0.42);

}

.place-img{
	width: 100%;
}

.col-lg-3{
	padding: 0;
}

.places {
	position: relative;
	height: 80vh;
}

.footertext {
	left: 0;
	right: 0;
	text-align: center;
}

.footertext p {
	font-family: 'Nexa';
	font-size: 14px;
}

/* Fonts */

@font-face {
    font-family: 'Nexa';
    src: url(../fonts/NexaLight.otf);
}

@font-face {
    font-family: 'Kano';
    src: url(../fonts/Kano.otf);
}