.navbar-inverse{
	border-radius: 0;
}

.logo{
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	text-decoration: none;
	font-size: 2em;
	color: #fff;
}

.logo:hover{
	text-decoration: none;
	color: #fff;
}

section{
	margin-bottom: 30px;
}

#map{
	width: 100%;
}

#next-bus{
	padding: 20px;
	-webkit-box-shadow: 4px 4px 22px -3px rgba(0,0,0,0.42);
	-moz-box-shadow: 4px 4px 22px -3px rgba(0,0,0,0.42);
	box-shadow: 4px 4px 22px -3px rgba(0,0,0,0.42);
}

#next-bus table{
	font-size: 1.5em;
}

.heading{
	text-align: center;
}

.place-img{
	width: 100%;
}

.col-lg-3{
	padding: 0;
}
